    <div class="col-lg-4 text-center mt-4">
        <a href="@BioLink" target="_blank">
            <img class="rounded-circle neumorphism" src="@Avatar" alt="@Name image" height="140" width="140">
            <h3>@Name</h3>
        </a>

        @if (!string.IsNullOrEmpty(TwitterAccount))
        {
            <SocialButtonTwitter Title="@Name" AccountId="@TwitterAccount" />
        }
        @if (!string.IsNullOrEmpty(TwitchAccount))
        {
            <SocialButtonTwitch Title="@Name" AccountId="@TwitchAccount" />
        }
        @if (!string.IsNullOrEmpty(YouTubeAccount))
        {
            <SocialButtonYouTube Title="@Name" AccountId="@YouTubeAccount" />
        }

    </div>
