@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject sdncast.nl.Services.IDeploymentEnvironment DeploymentEnvironment

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>
    <meta name="description" content="De SDN Cast is een wekelijkse live stream met het nieuws, de events en de laatste ontwikkelingen in softwareland. Met uw presentatoren: Maarten van Stam, Marcel Meijer en Fanie Reynders." />

    <!-- Favicon -->
    <!-- https://www.favicon-generator.org/ -->

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#CAD971">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @RenderSection("StyleInfo", required: false)

</head>
<body>

    @RenderSection("PreContent", required: false)

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("FooterContent", required: false)

    @RenderSection("PostContent", required: false)

    @RenderSection("scripts", required: false)
</body>
</html>

<!-- IsHttps: @Context.Request.IsHttps -->
<!-- Host: @Context.Request.Host.Host -->
<!-- ViewPath: @ViewContext.View.Path -->
<!-- ViewAssembly: @GetType().Assembly.FullName -->
<cache>
    <!-- Environment: @HostingEnvironment.EnvironmentName -->
    <!-- Application: @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationName, @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion -->
    <!-- Deployment: @DeploymentEnvironment.DeploymentId -->
    <!-- Framework: @DeploymentEnvironment.RuntimeFramework -->
    <!-- OS: @System.Runtime.InteropServices.RuntimeInformation.OSDescription @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture -->
    <!-- Machine: @Environment.MachineName -->
</cache>